/* define a global varibales  */
:root {
  --font-clr: hsl(224, 100%, 95%);
  --gap-bg: hsl(220, 100%, 64%);
  --main-bg: hsl(228, 99%, 58%);
  --hover-bg: hsl(228, 100%, 60%);
}

/* reset style and set a font  */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  color: var(--font-clr);
}

/* setup a main container layout and grid system  */
.layout {
  min-height: 100vh;
  background-color: var(--gap-bg);
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
}

/* setup the sup-container as conteents (no need to grid now ) */
.status-grid {
  display: contents;
}

/* setup header and footer  */

.hero {
  padding: 30px;
  min-height: 450px;
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec1,
.sec2,
.sec3,
.sec4 {
  padding: 30px;
  background-color: var(--main-bg);
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.icon-num {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
img {
  width: 40px;
  height: 40px;
}

/* setup fonts sytle  */
header,
footer {
  padding: 20px 30px;
  background-color: var(--main-bg);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer {
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.header-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.hero h1 {
  font-size: 50px;
  font-weight: 500;
}
.desc {
  font-size: 14px;
  font-weight: 400;
}
.title,
.hero p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.8;
}
h2 {
  font-size: 40px;
  font-weight: 500;
}

/* add hover  */

.sec1:hover,
.sec2:hover,
.sec3:hover,
.sec4:hover {
  background-color: var(--hover-bg);
}

/* med secrrns  */
@media (min-width: 768px) {
  header,
  footer {
    grid-column: 1/-1;
    padding: 20px 50px;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: rest;
  }
  .hero-text {
    text-align: center;
  }
  .status-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
  }
  .sec1,
  .sec2,
  .sec3,
  .sec4 {
    background-color: var(--main-bg);
    min-height: 410px;
    min-width: 410px;
  }
}

/* large screens  */
@media (min-width: 1440px) {
  .layout {
    grid-template-columns: 1fr 1fr;
  }
  .hero-text {
    text-align: left;
  }
  .hero-text h1 span {
    display: block;
  }
  header,
  footer {
    grid-column: 1/-1;
  }
  .hero {
    grid-column: span 1;
  }
  .status-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
  }
  .sec1,
  .sec2,
  .sec3,
  .sec4 {
    background-color: var(--main-bg);
    min-height: 410px;
    min-width: 410px;
  }
}
